body { 
    background-color: #fcffac; 
    color: #575757;
    font-family: Georgia, serif;
}

h1 {
    color: #333333;
    font-style: bold;
    border-radius: 15px;
}

h2 {
    color: #575757;
    font-weight: normal;
    border-bottom: 5px dashed #575757;
}

p {
    margin-top: 1px;
    line-height: 1.5em;
}

div {
    color: #333333;
    font-size: 12px;
    font-style: italic;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

img {
    border-radius: 8px;
}

ol {
    padding-left: 15px;
}

ul {
    padding-left: 15px;
}

a {
    color: #1100ff;
    text-decoration: underline;
}

a:hover { color: #8e00cb; };

a:visited { color: #b6b6b6; }

a:active { color: #ff0000; }